@import "tailwindcss";

@theme {
    /* Colors */
  --color-accent: #e94560;
  --color-bgDark: #0a0f1c;
  --color-bgCard: #111827;
  --color-lightText: #ccd6f6;
  --color-dimText: #8892b0;

  /* Fonts */
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "Fira Code", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, monospace;
}